body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    margin: 20px auto;
    width: fit-content;
    border: 3px solid black;
}

.square {
    width: 75px;
    height: 75px;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.light {
    background: #b7e4c7; /* green */
}

.dark {
    background: #f7b267; /* orange */
}

.selected {
    outline: 3px solid red;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.ad {
    margin: 10px;
}
